#customize-controls .customize-section-description {
    color: #287af7;
    font-size: .9rem;
    line-height: 1.25;
    border: 1px solid #fa8072;
    padding: .4rem;
    text-align: center;
}

.customize-control select {
    width: 90%;
	margin-left: 1rem;
}

#customize-control-radio_setting > label {
    width: 13%;
    float: left;
}
#customize-control-radio_setting > label:nth-child(4) {
	margin-left: 4rem;
}